<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="StartMode" value="Window" />
    <!--TaskSwitch: on|fff-->
    <add key="TaskSwitch" value="on" />
    <!--记录日志文件-->
    <add key="logpath" value="c:/logger"/>
  </appSettings>
</configuration>